.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px;

}
.avatarFrame{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:3px solid rgba($color: orange, $alpha: 1.0);
    object-fit: cover;
}
.name{
    color: #fff;
    font-size: 12px;
    margin-top: 4px;
}

// tablet
@media (min-width: 767px) {
    .story{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 12px;
    
    }
    
}
/* PC medium resolution > */
@media (min-width: 1263px) {

}