// mobile <700
.container{
    height: 60px;
    width: 100%;
    color: #fff;
    border-bottom: 1.5px solid #333;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

.topMobile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.topRightMobile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logoTop{
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 16px;

    .iconInstagram{
        display: none;
    }
  
}

.searchBar{
    background-color: #3f3f3f;
    display: flex;
    max-width: 268px;
    padding: 8px;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    padding-right: 8px;
    margin-right: 12px;
 }
.iconSearch{
    width: fit-content;
    height: 100%;
    background-color: transparent;
    padding: 0 12px;
}

.inputSearch{
    background-color: transparent;

    input{
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 18px;

    }
    input::placeholder{
        color: #fff;
        opacity: 0.7;
        font-size: 16px;
    }

}
.notificationMobile{
    width: fit-content;
    height: 100%;
    margin-right: 16px;
}
.center{
    display: flex;
    position: fixed;
    bottom: 0;
   
    border-top: 1px solid #333;
}

.navItem{
    margin: auto auto; 
    background-color: #000;

}
.navItem div{
    width: 100%;
}
.navItem span{
    margin: 10px 14px;
}


.navItem img{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    object-fit: cover;
    object-position:80% 100%;
}
.navItem a{
    color: #fff;
}
.center p{
    display: none;
}
.settingBottom{
    display: none;
}
// tablet
@media (min-width: 767px) { 
    .container{
        height: 100%;
        max-width: 72px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 8px 12px 20px;
        border-right: 1px solid #333;
        border-bottom: none;
        position: fixed;
    }
    .topMobile{
        width: 100%;
        
    }

    .logoTop{
        height: 92px;
        width: 100%;
        margin-left: 0px;
        .iconInstagram{
            display: block;
            font-size: 20px;

        }
        
    }
    .logoTop .textInstagram{
        display: none !important;

    }
    
   
    .topRightMobile{
        display: none;
    }
    .center{
        display: flex;
        position:initial;
        flex-direction: column;
        width: fit-content;
        height: 100%;
        justify-content: flex-start;
        border-top: none;
    }
    .navItem{
        margin: -8px;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .settingBottom{
        display: block;
        
        .iconThread{
            display: none;
        }
        p{
            display: none;
        }
    }

   
}
/* PC medium resolution > */
@media (min-width: 1263px) {
    .container{
        height: 100%;
        width: 244px;
        max-width: 244px;
        background-color: black;
        color: #fff;
        font-size: 20px;
        border-right: #676767 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: initial;
    }
    .topMobile{
        display: block;
    }
    .topMobile .logoTop{
        display: block;
    }
    .topRightMobile{
       display: none;
    }
    .logoTop{
        height: 92px;
        width: 100%;
        text-align: left;
        // padding-left: 20px;
        font-size: 60px;
        cursor: pointer;
        .textInstagram{
            width: fit-content;
            margin-left: 12px;
            margin-top: 40px;
            height: 30%;
            display: block;
        }
        .iconInstagram{
            display: none;
        }
    }
    .center{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        width: 100%;
        border-top: none;
        
    
        p{  
            display: block;
            height: fit-content;
            font-size: 16px;
            font-weight: 500;
        }
        span{
            text-align: left;
            width: fit-content;
            
            img{
                height: 26px;
                width: 26px;
            }
        }

        .navItem{
            &:hover{
                svg{
                    font-size: 26px;
                }
            }
            a{
                color: #fff
            }
        }
        
    
    }
    .avatarFrame{
        border-radius: 500px;
        height:30px;
        width: 30px;
        object-fit: cover;
    }
    .settingBottom{
        width: 100%;
        height: 142px;
        text-align: left;
        // padding-left: 20px;
        
        .iconThread{
            display: block;
        }

        p{  
            display: block;
            height: fit-content;
            font-size: 16px;
            font-weight: 500;
        }
        span{
            text-align: center;
        }

        .navItem{
            &:hover{
                svg{
                    font-size: 26px;
                }
            }
            a{
                color: #fff
            }
        }
    
    }
    .avatar{
        width: fit-content;
        margin: 10px 16px;
    }
    

}
/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
   
}


/* > PC low resolution */
// @media (min-width: 1024px) and (max-width: 1239px) {

// }