.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #969393;

}
.infor{
    margin: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    select{
        outline: none;
        border: none;
        background-color: transparent;
        color: #969393;
    }

    p{
        margin-left: 14px;
        color: #969393;
        font-size: 14px;
    }
}