* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
  
}
.primaryColor{
  color: #385185;
}
.primaryLight{
  color:#0095f6;
}
input{
  padding: 0;
  margin: 0;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}