.container{
    color: #fff;
    padding-top: 100px;
    font-family: sans-serif;
}
.accountDetails{
    margin: 0 auto;
    height: fit-content;

    
}
.detailsHeader{
    display: flex;
    position: relative;
}
.avatar{
    width: 100%;
    height: 100%;
}

.avatarFrame{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
}


.inforDetails{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    
}
.mobileAccountDetails{
    text-align: left;
    display: block;
    padding: 0 24px;
}
.usernameDetailsLines{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    font-weight: 600;
}

.username{
    font-size: large;
    text-align: left;
    margin: 0;
    padding: 0;
    display: block;
}
.functionbtn{
    border-radius: 5px;
    padding: 2px;
    background-color: #1877F2;
}
.functionbtn + .functionbtn {
    margin: 0 4px;
}

.otherbtn{
    color: #fff;
    padding: 2px;
}
.numberDetailsLines{
    margin-top: 14px;
    padding: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    border-top: 0.5px solid #333;
    border-bottom: 0.5px solid #333;
}
.numberDetailsLines div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50px;
}
.numberDetailsLines span{
    font-weight: 400;
}

.nameDetailsLines{
    text-align: left;
    margin: 6px 0;
    font-weight: 600;
}
// .bioDetailsLines{
//     text-align: left;
//     margin: 4px 0;

    
// }
// .contentsDetailsLines{
//     text-align: left;
//     margin: 4px 0;

    
// }
.accountContents{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5px solid #333;
    border-bottom: 0.5px solid #333;
    padding: 14px;
}
.accountContents div{
    width: fit-content;
}

// @media (min-width: 767px) {
//     .detailsHeader{
//         display: flex;
//         justify-content: center;
//         align-items: flex-start;
//     }
//     .avatar{
//         width: 100%;
//         height: 100%;
//     }
    
//     .avatarFrame{
//         width: 156px;
//         height: 156px;
//         border-radius: 50%;
//         background-color: #fff;
//     }
    
//         .inforDetails{

//     }

//     .usernameDetailsLines{
        
//         display: flex;
//         justify-content: space-between;
//         align-items: baseline;
//     }

//     .username{
//         font-size: large;
//         text-align: left;

//     }
//     .functionbtn{
//         border-radius: 5px;
//         padding: 4px;
//         background-color: blue;
//         margin: 0 6px;
//     }
//     .functionbtn + .functionbtn {
//         margin: 0 6px;
//     }

//     .otherbtn{
//         color: #fff;
//     }
    
//     .nameDetailsLines{
//         text-align: left;
//         margin: 6px 0;
//         font-weight: 600;

        
//     }
//     .bioDetailsLines{
//         text-align: left;
//         margin: 4px 0;

        
//     }
//     .contentsDetailsLines{
//         text-align: left;
//         margin: 4px 0;

        
//     }
//     .accountContents{
        
//     }
//     }

@media (min-width: 1113px) {
    .avatarFrame{
        width: 170px;
        height: 170px;
    }
    .mobileAccountDetails{
        text-align: left;
    }
    .numberDetailsLines{
        font-weight: 600;
        text-align: left;
        display: flex;
    }    
   
     
    .inforDetails{
        height: 100%;
        display: flex;
        flex-direction: column;
        
    }
}